* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: green;
  height: 500px;
  background-image: url(top.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 220px;
  padding-right: 500px;
  font-size: 40px;
}

.topNav {
  margin-top: 160px;
}

.topNav ul {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  color: white;
  list-style: none;
}

.topNav ul a {
  text-decoration: none;
  color: green;
  background-color: white;
  padding: 10px 15px;
  transition: all 0.6s ease-in;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

.topNav ul a:hover {
  box-shadow: none;
  color: white;
  background-color: green;
}

article {
  width: 960px;
  margin: 50px auto;
}

section h3 {
  text-align: center;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.flex img {
  width: 400px;
}

footer {
  text-align: center;
  background-color: lightgray;
  padding: 30px;
}

.creeper {
  position: absolute;
  top: 200px;
  left: calc(50% + 200px);
  animation: creeper 2s ease-in-out infinite alternate; 
}

@keyframes creeper {
  0% {
    transform: translateY(-15px) scale(0.5);
  }
  100% {
    transform: translateY(15px) scale(1);
  }
}










